body {
  padding-top: 70px;

  font-family: 'Open Sans', sans-serif;
}

.navbar-default {
  background-color: #2B803E;
  border-color: #e7e7e7;
}

.brand-font {
  font-family: 'Amatic SC', cursive;
  font-size: 38px;
  font-weight: 400;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #2B803E;
  border-color: #e7e7e7;
}

.jumbotron p {
  font-size: 15px;
  font-weight: 200;
}
