<!DOCTYPE html>
<html data-ng-app="portfolioApp">
  <head>
    <title>My Portfolio</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/portfolio.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand-font" href="#">Portafolio</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Fotografía</a></li>
            <li><a href="#">Yoga</a></li>
            <li><a href="#">Música</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Más <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Fotografía</a></li>
                <li><a href="#">Yoga</a></li>
                <li><a href="#">Música</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Otros</li>
                <li><a href="#">CV</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Portafolio</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div animated-view></div>

    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/jquery.min.js"></script>

    <!-- UI Libs -->
    <script src="javascripts/bootstrap.js"></script>

    <!-- App libs -->
    <script src="portfolio_app/app.js"></script>
    <script src="portfolio_app/controllers/controllers.js"></script>
    <script src="portfolio_app/services/customersService.js"></script>
    <script src="portfolio_app/directives/animatedView.js"></script>
  </body>
</html>
